@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');

::-webkit-scrollbar {
    display: none;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

 body {
    background-color: #17140c;
    overflow: auto;
}

input {
    display: none;
}

label {
    display: none;
}

header {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 7%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
    
.home-icon {
    position: absolute;
    left: 9%;
    top: 50%;
    transform: translateY(-52%);
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.p1 {
    overflow: hidden;
    background-image: linear-gradient(to right,  #17140c 30%, transparent 60%), 
                        url('/images/br.png');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    height: 115vh;
    display: flex;
    transition: filter 0.5s ease;
    z-index: 1;
}

.p2 {
    height: 115vh;
    background-color: white;
    opacity: 1;
    display: flex;
    z-index: 0;
    position: relative;
}
    
.p2-left {
    flex: 0 0 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.c1 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: black;
    width: 100%;
}
    
.image-container {
    position: relative;
    width: 60%;
    height: 500px;
    margin: 0 auto;
}
    
.p2-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
}

.nav-button {
    width: 30px;
    height: 30px;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: 1px solid black;
    border-radius: 50%;
}

.nav-button:hover {
    background-color: black;
    border-color: black;
    color: white;
}
    
#prev-button {
    left: 160px;
}
    
#next-button {
    right: 160px;
}

nav {
    display: flex;
    align-items: center;
}
    
nav a {
    color: #333;
    text-decoration: none;
    margin: 0 30px;
    font-size: 18px;
}
    
.p2-right {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    gap: 20px;
    font-size: 20px;
    font-weight: bold; 
}
    
.google-star {
    color: gold; 
    font-size: 18px; 
    margin-left: 20px; 
}
    
.p2-right a {
    color: #0073e6; 
    font-size: 16px; 
    margin-left: 20px;
    text-decoration: none; 
}
    
.icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: middle;
}

#moblie {
    display: none;
}

.social {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
    
.social a {
    font-size: 14px;
    color: black;
    margin-left: 0 8px;
    display: flex;
    align-items: center;
}
    
.p2-right p {
    margin: 0;
    padding: 15px 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.title {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-70%);
    text-align: center;
}

.t1 {
    font-family: "Potta One", system-ui;
    font-size: 70px;
    font-weight: 300;
    color: #bad21f
}
    
.t2 {
    font-family: "Potta One", system-ui;
    font-size: 70px;
    font-weight: 300;
    color: #c8323e
}

.t3 {
    font-family: "Zen Antique", system-ui;
    transform: translateX(50%); 
    font-weight: 300;
    font-size: 70px;
    color: white;
}

footer {
    background-color: #17140c;
    font-size: 12px;
    color: white;
    text-align: right;
    right: 20px;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}


/* phone */
@media screen and (min-width: 320px) and (max-width: 768px) {

    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    body {
        background-color: white;
    }

    .home-icon {
        display: block; 
        position: absolute; 
        left: 5px; 
        top: 50%; 
        transform: translateY(-50%); 
        z-index: 101; 
        color: white; 
    }

    header {
        background: rgba(255, 255, 255);
        width: 100%;
        height: 70px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    }

    nav {
        display: block;
    }
    
    #menu {
        position: absolute;
        float: right;
        top: 13px;
        right: 15px;
    }

    #menu label {
        font-size: 30px;
        color: black;
        cursor: pointer;
        display: block;
        position: absolute;
        top: 0; 
        right: 0; 
        z-index: 2; 
    }

    #menu a {
        display: none;
        font-size: 18px;
        color: white;
        padding: 1.5rem 0;
        text-align: center;
        background-color: #17140c;
        width: 150px;
        position: relative;
        top: 57;
        margin-right: -15px;
        z-index: 1;
    }

    #menu input[type="checkbox"] {
        display: none;
    }

    #menu input[type="checkbox"]:checked ~ a {
        display: block;
    }

    .title {
        position: relative;
        left: -10%;
        top: 0;
        text-align: center;
    }

    .p1 {
        height: 115vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/store.jpeg');
        background-size: cover;
        background-position: 50% center;
        overflow: hidden;
        display: flex;
        justify-content: center; 
        align-items: center;
        text-align: center; 
    }

    .t1, .t2, .t3 {
        opacity: 0; 
        transform: translateY(30px); 
        animation-duration: 3s; 
        animation-timing-function: ease-out; 
        animation-fill-mode: forwards; 
        letter-spacing: 5px;
    }

    .t1 {
        font-family: "Potta One", system-ui;
        animation: fadeInUp 2s 0.2s forwards;;
        font-size: 50px;
        font-weight: 300;
        color: #bad21f
    }
    
    .t2 {
        font-family: "Potta One", system-ui;
        animation: fadeInUp 3s 0.6s forwards;;
        font-size: 50px;
        font-weight: 300;
        color: #c8323e
    }

    .t3 {
        font-family: "Zen Antique", system-ui;
        animation: fadeInUp 2s 1.2s forwards;;
        transform: translateX(20%); 
        font-weight: 300;
        font-size: 50px;
        color: white;
    }
    
    .p2 {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-direction: column;
        height: 115vh;
        background-color: white;
    }

    .c1 {
        text-align: center;
        margin-top: 45px;
        font-size: 32px;
    }

    .p2-left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px; 
        z-index: 1; 
    }

    .p2-right {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1rem;
        box-sizing: border-box;
    }

    .nav-button {
        display: none;
    }

    .image-container {
        overflow: hidden;
        position: relative;
        width: 350px;
        height: auto;
        max-width: 90%;
    }
    
    .p2-image {
        width: 100%;
        height: auto;
        transition: opacity 0.5s ease-in-out;
    }

    .google-star {
        color: gold; 
        font-size: 18px; 
        margin-left: 20px; 
    }
    
    .p2-right a {
        color: #0073e6; 
        font-size: 16px; 
        margin-left: 20px;
        text-decoration: none; 
    }
    
    .icon {
        width: 16px;
        height: 16px;
        margin-right: 8px;
        vertical-align: middle;
    }

    .social {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    
    .social a {
        display: none;
    }

    #moblie {
        width: 38px;
        height: 38px;
        margin-left: 14px;
        margin-right: 10px;
        vertical-align: middle;
    }
    
    .p2-right p {
        margin: 0;
        padding: 15px 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    footer {
        background-color: #17140c;
        font-size: 12px;
        color: white;
        text-align: right;
        padding: 1rem 1rem 1rem 0;
        position: relative;
        bottom: 0;
        width: 100%;
    }

    @keyframes fadeInUp {
        0% {
            opacity: 0; 
            transform: translateY(30px); 
        }
        100% {
            opacity: 1; 
            transform: translateY(0); 
        }
    }
    

}
