<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bst.css">
    <title>後台管理系統-測試</title>
</head>
<body>
    <div class="sidebar">
        <div class="user-info">
            <h3><%= userType %></h3>
        </div>
        <ul class="sidebar-menu">
            <% if (userType === 'manager' || userType === 'developer') { %>
                <li><a href="#" class="menu-item">查看訂位</a></li>
                <li><a href="#" class="menu-item">取消訂位</a></li>
                <li><a href="#" class="menu-item">訂位設定</a></li>
                <li><a href="#" class="menu-item">黑名單</a></li>
                <li><a href="#" class="menu-item">統計</a></li>
            <% } %>
            
            <% if (userType === 'developer') { %>
                <li class="developer-only"><a href="#" class="menu-item">一鍵訂位</a></li>
            <% } %>
        </ul>
    </div>
    <div class="content">
        <h1>歡迎使用後台管理系統</h1>
    </div>
</body>
</html>
