<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>芝麻柚子豬排專賣店</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="canonical" href="https://zhimayouzi.com/form">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/form.css?v=1.1">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/logo/apple-touch-icon.png">
    <link rel="manifest" href="/site.webmanifest">
    <script type="application/ld+json">
        {
          "@context" : "https://zhimayouzi.com/form",
          "@type" : "WebSite",
          "name" : "芝麻柚子",
          "alternateName" : "芝麻柚子 とんかつ",
          "url" : "https://zhimayouzi.com/form",
          "potentialAction": {
            "@type": "SearchAction",
            "target": {
              "@type": "EntryPoint",
              "urlTemplate": "https://query.example.com/search?q={search_term_string}"
            },
            "query-input": "required name=search_term_string"
          }
        }
      </script>
    <meta property="og:title" content="芝麻柚子豬排專賣店">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/images/sesame.png">
    <meta property="og:url" content="https://zhimayouzi.com/form">  
    <meta property="og:description" content="快速方便的線上訂位系統，為您預留酥脆美味的日式炸豬排饗宴。選擇用餐時間、大人與小孩人數，輕鬆預訂您的座位，享受日式美食的最佳體驗。">
    <meta name="description" content="快速方便的線上訂位系統，為您預留酥脆美味的日式炸豬排饗宴。選擇用餐時間、大人與小孩人數，輕鬆預訂您的座位，享受日式美食的最佳體驗。">
    <meta name="keywords" content="芝麻柚子,とんかつ,豬排,炸豬排,日式料理,竹北美食,新竹美食,竹北餐廳,新竹餐廳,日本料理,定食,豬排定食,訂位,線上訂位,芝麻柚子訂位,芝麻柚子線上訂位">
    <meta property="og:site_name" content="芝麻柚子豬排專賣店">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="芝麻柚子豬排專賣店">
    <meta name="twitter:description" content="快速方便的線上訂位系統，為您預留酥脆美味的日式炸豬排饗宴。選擇用餐時間、大人與小孩人數，輕鬆預訂您的座位，享受日式美食的最佳體驗。">
    <meta name="twitter:image" content="/images/sesame.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="芝麻柚子">
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#ffffff">
</head>
<body class="japanese-pattern">
    <header>
        <a href="/" class="home-icon">
            <img src="/images/header-icon.png" alt="網站首頁" style="width:150px; height: auto;">
        </a>
        <nav id="menu">
            <input type="checkbox" id="menu-toggle">
            <label id="menu-toggle" for="menu-toggle">&#9776;</label> 
            <a href="/">-首頁</a>
            <a href="/menu">-查看菜單</a>
            <a href="/form">-我要訂位</a>
            <a href="/questions">-常見問題</a>
            <a href="/contact">-聯絡我們</a>
        </nav>
    </header>

    <div class="booking-toggle">
        <button type="button" class="toggle-btn active" data-form="reservation">我要訂位</button>
        <button type="button" class="toggle-btn" data-form="cancel">取消訂位</button>
    </div>

    
    <div class="container">
        <form id="reservationForm" action="/reservations" method="POST">
            <div class="field date-field">
                <div id="calendar-container">
                    <div id="calendar-header">
                        <div id="calendar-title"></div>
                        <div id="calendar-buttons">
                            <button type="button" id="prevMonth">&lt;</button>
                            <button type="button" id="nextMonth">&gt;</button>
                        </div>
                    </div>
                    <div id="calendar">
                        <div class="weekdays">
                            <div>日</div>
                            <div>一</div>
                            <div>二</div>
                            <div>三</div>
                            <div>四</div>
                            <div>五</div>
                            <div>六</div>
                        </div>
                        <div id="days-container"></div> 
                    </div>
                </div>
                <input type="date" id="date" name="date" required style="display: none;" onchange="updateTimeButtons()" />
            </div>
            

            <span class="note">※6人以上訂位請來電詢問</span>
            <span class="note", style="color: red;">※目前訂位已更改為只能預定明天，無法預定當天</span>
            <div class="row">
                <div class="field">
                    <label for="adults">大人數量：</label> 
                    <select id="adults" name="adults" required></select>
                </div>
            
                <div class="field">
                    <label for="children">小孩數量：</label>
                    <select id="children" name="children"></select>
                </div>
            </div>

            <div id="time-picker-container" style="display: none;">
                <div id="morning-time-buttons" class="time-buttons"></div>
                <div id="afternoon-time-buttons" class="time-buttons"></div>
            </div>

            <div id="time-buttons"></div>

            <input type="hidden" id="time" name="time" />

            <span class="pe-note">※請留下真實姓名，否則將無視此訂位</span>
            <div class="form-row">
                <div class="form-group">
                    <label for="name">姓名:</label>
                    <input type="text" id="name" name="name" required placeholder="請輸入姓名">
                </div>
            
                <div class="form-group" id="gender-container">
                    <div>
                        <label><input type="radio" name="gender" value="先生" required> 先生</label>
                        <label><input type="radio" name="gender" value="小姐"> 小姐</label>
                        <label><input type="radio" name="gender" value="其他"> 其他</label>
                    </div>
                </div>
            </div>
            
            <span class="pe-note">※請留下正確的電話及電子郵件 確保可收到訂位資訊</span>
            <div class="form-row">
                <div class="form-group">
                    <label for="phone">電話：</label>
                    <input type="tel" id="phone" name="phone" required placeholder="0912345678">
                </div>
            
                <div class="form-group" id="email-container">
                    <label for="email">電子郵件：</label>
                    <input type="email" id="email" name="email" required placeholder="xxx@gmail.com">
                </div>
            </div>
            
            <div class="form-row">
                <div class="form-group">
                    <label for="vegetarian">吃素：</label>
                    <select id="vegetarian" name="vegetarian">
                        <option value="否">否</option>
                        <option value="是">是</option>
                    </select>
                </div>
            
                <div class="form-group">
                    <label for="specialNeeds">特殊需求：</label>
                    <select id="specialNeeds" name="specialNeeds">
                        <option value="無">無</option>
                        <option value="有行動不便者">有行動不便者</option>
                        <option value="有嬰兒車">有嬰兒車</option>
                        <option value="攜帶寵物">攜帶寵物</option>
                    </select>
                </div>
            </div>
            
            <div class="form-row">
                <div class="form-group">
                    <label for="notes" >備註：</label>
                    <textarea id="notes" name="notes" maxlength="30" placeholder="有任何需求都可在此提出，如兒童椅等等… (最多可輸入 30 字)"></textarea>
                </div>
            </div>

            <button class="form-row" type="submit">提交訂位</button>
            <div id="message"></div>
        </form>

        <div id="cancel-container" style="display: none;">
            <form id="cancelForm">
                <h1 id="title">取消訂位</h1>
                <div class="cancel-options">
                    <div class="option">
                        <label>
                            <input type="radio" name="cancelMethod" value="code" checked>
                            使用訂位代碼
                        </label>
                        <div class="input-group" id="codeInput">
                            <input type="text" name="bookingCode" placeholder="請輸入訂位代碼" required>
                        </div>
                    </div>
                    
                    <div class="option">
                        <label>
                            <input type="radio" name="cancelMethod" value="info">
                            使用訂位資訊
                        </label>
                        <div class="input-group" id="infoInput" style="display: none;">
                            <input type="text" name="name" placeholder="請輸入姓名">
                            <input type="tel" name="phone" placeholder="請輸入電話">
                        </div>
                    </div>
                    
                    <button type="submit" class="submit-btn">查詢訂位</button>
                </div>

                <div id="reservation-display"></div>
            </form>
            
        </div>
    </div>

    <footer>
        <div class="footer-content">
            <p>© 2024-2025 ZYW. All rights reserved.<br>本網站所使用之圖片及相關素材版權歸<b>家岑譽有限公司</b>所有。</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
            integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK" 
            crossorigin="anonymous"
            nonce="<%= nonce %>">
    </script>
    <script src="/js/form.js" nonce="<%= nonce %>"></script>
</body>
</html>
